section.footer
	.container
		.first-footer
			.row
				.col-xs-12.col-sm-12.col-md-8
					.logo
						img(src="dist/images/logo-light.svg")
					.module-title نوبت‌دهی آنلاین پزشکان در ایران
					.row
						.col-xs-6.col-md-6
							ul
								li
									a(href="#") وبلاگ
								li
									a(href="about-us.html") درباره ما
								li
									a(href="#") قوانین و مقررات
								li
									a(href="#") همکاری با ما
								li
									a(href="#") استانداردها
						.col-xs-6.col-md-6
							ul
								li
									a(href="#") اپلیکیشن
								li
									a(href="contact-us.html") تماس با ما
								li
									a(href="#") الزامات پزشکی
								li
									a(href="#") خط مشی کیفیت
								li
									a(href="#") استاندارد کیفیت ارائه امکانات
				.col-xs-12.col-sm-12.col-md-4
					.contact-box
						.box
							.email شماره تماس :
							.address-email.align-right ۰۲۱—۲۳۰۹۹
						//- .line-vertical
						.box 
							.email آدرس پست الکترونیکی :
							.address-email info@mymedica.com
					.socials
						a.social(href="#")
							i.icon-telegram.social-telegram
							.name تلگرام
						a.social(href="#")
							i.icon-instagram.social-instagram
							.name اینستاگرام
						a.social(href="#")
							i.icon-twitter.social-twitter
							.name توییتر
					.download-app-footer
						.module-title دانلود از فروشگاهای اپ
						a(href="#")
							img(src="dist/images/svg/google-play-badge-footer.svg")
						a(href="#")
							img(src="dist/images/svg/sibapp-badge-gray-footer.svg")
					
		.second-footer
			.row
				.col-xs-12.col-sm-12.col-md-8.hide-on-small
					.module-title مای‌مدیکا؛ نوبت‌دهی اینترنتی پزشکان
					p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت.
				.col-xs-12.col-sm-12.col-md-4
					.module-title اطلاعات تماس
					.contact-info
						i.icon-location
						.information تهران، ایران، تهران، ایران، تهران، ایران، تهران، ایران، تهران، ایران، تهران، ایران
					.contact-info
						i.icon-phone
						.information  ۲۶۷۰۲۳۳۱۱۳ ۲۱ - ۲۶۷۲۲۳۱۷ ۲۱ - ۲۶۷۱۲۱۷۱ ۲۱ - ۲۶۱۲۱۰۷۶۹ ۲۱ -  ۰۹۲۱۲۳۳۳۲
					.contact-info
						i.icon-email
						.information info@mymedica.com
		.third-footer
			.certificate-cn
				.module-title مجوز ها
				.certificate
					a.image-certificate(href="#")
						img(src="https://ecunion.ir/bundles/pouyasoft/home/img/namad.png")
					a.image-certificate(href="#")
						img(src="https://ecunion.ir/bundles/pouyasoft/home/img/namad.png")
					a.image-certificate(href="#")
						img(src="https://ecunion.ir/bundles/pouyasoft/home/img/namad.png")
					//- a.image-certificate(href="#")
						img(src="https://trustseal.enamad.ir/logo.aspx?id=30599&p=vjymgthvfujyzpfvzpfv")
					//- a.image-certificate(href="#")
						img(src="https://logo.samandehi.ir/logo.aspx?id=37612&p=qftiyndtwlbqnbpdodrf")
					//- a.image-certificate(href="#")
						img(src="dist/images/tmp/certificate_4.png")

			.zebra
				h4 کپی‌رایت ۱۳۹۵-۱۳۹۷، 
					a(href="#") مای‌مدیکا
					| .
				p تمامی خدمات این وب سایت دارای مجوزهای لازم از مراجع مربوطه می باشد و فعالیت های این سایت تابع قوانین و مقررات جمهوری اسلامی ایران است.
