.search-page {
	.sidebar-box {
		// margin: 0 0 2rem 1rem;
		// border: 1px solid $light-gray;
		text-align: right;
		background: #fff;
		border: 1px solid #DAE1E8;
		box-shadow: 0 1px 12px rgba(143, 144, 152, 0.15);
		border-radius: $base-radius;
		margin-bottom: 1rem;
		padding: 1rem;
		@media only screen and (max-width: 48rem) {
			border: 0;
			border-radius: 0;
		}
		.divider {
			border-bottom: 1px solid rgba(#686972, 0.12);
			margin-bottom: 1.125rem;
			padding-bottom: 1rem;
			&:last-child {
				margin-bottom: 0;
				border-bottom: 0;
				padding-bottom: 0;
			}
		}
		.sidebar-header {
			padding: 0;
			margin-bottom: 0.5rem; // padding-bottom: 0.5rem;
			.title {
				margin: 0;
				font-size: 1rem;
			}
		}
	}
	.search-bar {
		position: relative;
		display: block;
		border-bottom: 1px solid $gray-light;
		padding: 0.5rem 0 1rem;
		background-color: #ecedee;
		z-index: 10;
		&.is_stuck {
			border-bottom-color: $gray;
			box-shadow: 0 1px 32px 0 rgba(0,0,0,0.12);
		}
		&.sidebox {
			padding: 1rem;
			background-color: #f5f5f5;
			border-bottom: 0;
			.main-input {
				margin: 0;
				box-shadow: none;
				border: 1px solid #d2d2d2;
				padding: .25rem 0.5rem .25rem .5rem;
				.input {
					font-size: 14px;
					flex: 5;
				}
				.btn {
					flex: 1;
					font-size: 20px;
					line-height: 20px;
				}
			}
		}
		// .button {
		// 	display: inline-block;
		// 	padding: .35rem 1rem 0.25rem;
		// 	font-size: 0.9rem;
		// 	margin: 0 0.25rem;
		// 	color: #7a808a;
		// 	background-color: rgba(white, 0.1);
		// 	border: 1px solid darken(#ecedee, 9);
		// 	border-radius: $base-radius;
		// 	cursor: pointer;
		// 	transition: 0.3s;
		// 	&:hover {
		// 		background-color: $white;
		// 		border-color: #b6bfca;
		// 		color: $black;
		// 		// background-color: $midblue;
		// 		// border-color: $secondary;
		// 		// color: $white;
		// 	}
		// }
	}
	.row-head {
		justify-content: space-between;
		background: lighten(#ecedee, 2);
		padding: 0.75rem 1.25rem;
		border-radius: $base-radius;
		margin-bottom: 1rem;
		.input {
			float: left;
		}
		.row {
			align-items: center;
		}
	}
	// .tabs {
	// 	align-self: flex-end;
	// 	justify-content: flex-end; // margin: 1rem -1rem 0;
	// 	// padding: 0 1rem;
	// 	border-bottom: 0;
	// 	a.current {
	// 		margin-bottom: 0;
	// 		background-color: transparent;
	// 	}
	// 	a:hover {
	// 		background-color: transparent;
	// 	}
	// 	.keyword {
	// 		color: #888;
	// 		padding-top: 0.35rem;
	// 		padding-left: 0.5rem;
	// 	}
	// }
	.search-keyword {
		position: relative;
		flex: 1;
		margin: 0;
		.keyword {
			color: #000;
			font-size: 1.25em;
			word-spacing: -1px;
			// padding-left: 0.75rem;
			// margin-left: 0.75rem;
			// border-left: 1px solid rgba(black, 0.2);
			span {
				color: #656b72;
				font-size: 0.75em;
			}
		}
	}

	#doctors {
		.col {
			margin-bottom: 1rem;
		}
	}
	
	.search-filter {
		@media only screen and (max-width: 48rem) {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #fff;
			z-index: 10;
			padding: 60px 0 0 0;
			.sidebar-box {
				box-shadow: none;
			}
			.search-filter_close {
				position: fixed;
				bottom: 0;
				right: 0;
				left: 0;
				right: 0;
				padding: 1rem;
				text-align: center;
				color: #555;
				background-color: #e0e0e0;
			}
		}
	}
	#search_not_found {
		display: none;
		margin: 2rem auto;
		color: #777;
		text-align: center;
		svg {
			width: 64px;
			height: 64px;
		}
		h1 {
			font-weight: 400;
		}
	}
}
