<section class="footer">
  <div class="container">
    <div class="first-footer">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <div class="logo">
            <img src="assets/landing-pages/img/logo-light.svg">
          </div>
          <div class="module-title">نوبت‌دهی آنلاین پزشکان در ایران</div>
          <div class="row">
            <div class="col-xs-6 col-md-6">
              <ul>
                <li><a href="#">وبلاگ</a></li>
                <li><a routerLinkActive="active" routerLink="aboutus">درباره ما</a></li>
                <li><a href="#">قوانین و مقررات</a></li>
                <li><a href="#">همکاری با ما</a></li>
<!--                <li><a href="#">استانداردها</a></li>-->
              </ul>
            </div>
            <div class="col-xs-6 col-md-6">
              <ul>
                <li><a href="#">اپلیکیشن</a></li>
                <li><a routerLinkActive="active" routerLink="contactus">تماس با ما</a></li>
                <li><a href="#">الزامات پزشکی</a></li>
<!--                <li><a href="#">خط مشی کیفیت</a></li>-->
                <li><a routerLinkActive="active" routerLink="pricing">قیمت گذاری</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="contact-box">
            <div class="box">
              <div class="email">شماره تماس :</div>
              <div class="address-email align-right">۰۲۱—۲۳۰۹۹</div>
            </div>
            <div class="box">
              <div class="email">آدرس پست الکترونیکی :</div>
              <div class="address-email">info@mymedica.com</div>
            </div>
          </div>
          <div class="socials"><a href="#" class="social"><i class="icon-telegram social-telegram"></i>
            <div class="name">تلگرام</div></a><a href="https://instagram.com/my.medica/" class="social"><i class="icon-instagram social-instagram"></i>
            <div class="name">اینستاگرام</div></a><a href="#" class="social"><i class="icon-twitter social-twitter"></i>
            <div class="name">توییتر</div></a></div>
          <div class="download-app-footer">
            <div class="module-title">دانلود از فروشگاهای اپ</div><a href="#">
            <img src="/assets/landing-pages/img/svg/google-play-badge-footer.svg"></a>
            <a href="#"><img src="assets/landing-pages/img/svg/Sibapp-Badge-Gray-footer.svg"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="second-footer">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 hide-on-small">
          <div class="module-title">مای‌مدیکا؛ نوبت‌دهی اینترنتی پزشکان</div>
          <p>

              ایده مدیکای من در سال ۱۳۹۷ با شناسایی فرصت هایی در بازار پزشکی به ذهن موسسین آن که متشکل از یک تیم شش نفره به نام های سید محمد رضا موسوی ، سیده نیلوفر موسوی ، زکریا رستمی تهرانی ، نوید فدایی ، مسعود جاوری و حسین صبوری است رسید که شرکتی با نام آکام آتیه پرداز ویرا را در اواخر سال ۱۳۹۷ به ثبت رساندند و سایت  مدیکای من در اواخر تابستان سال  ۱۳۹۸ شروع به کار کرد.

          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="module-title">اطلاعات تماس</div>
          <div class="contact-info"><i class="icon-location"></i>
            <div class="information">تهران</div>
          </div>
          <div class="contact-info"><i class="icon-phone"></i>
            <div class="information"> ۰۲۱-۸۸۸۸۸۸</div>
          </div>
          <div class="contact-info"><i class="icon-email"></i>
            <div class="information">info@my-medica.com</div>
          </div>
        </div>
      </div>
    </div>
    <div class="third-footer">
      <div class="certificate-cn">
        <div class="module-title">مجوز ها</div>
        <div class="certificate">
          <a href="#" class="image-certificate">
          <img src="https://ecunion.ir/bundles/pouyasoft/home/img/namad.png">
        </a>
          <a href="#" class="image-certificate">
            <img src="https://ecunion.ir/bundles/pouyasoft/home/img/namad.png">
          </a>
          <a href="#" class="image-certificate">
          <img src="https://ecunion.ir/bundles/pouyasoft/home/img/namad.png">
          </a>
        </div>
      </div>
      <div class="zebra">
        <h4>کپی‌رایت ۱۳۹۸-۱۳۹۷، <a href="#">مای‌مدیکا</a>.</h4>
        <p>تمامی خدمات این وب سایت دارای مجوزهای لازم از مراجع مربوطه می باشد و فعالیت های این سایت تابع قوانین و مقررات جمهوری اسلامی ایران است.</p>
      </div>
    </div>
  </div>
</section>
